@{
    Layout = "_Layout";
}

<h1 id="TitleMain">Pierre's Sweet and Savory Treats</h1>

<h4>@Html.ActionLink("See all flavors", "Index", "Flavors")</h4>
<h4>@Html.ActionLink("See all treats", "Index", "Treats")</h4>
<h4>@Html.ActionLink("Create an account", "Index", "Account")</h4>
